.dropdown{
    display: flex;
    flex-direction: column;
    
}
.dropdown-title{  
    height: 40px;
    background-color:#FFFFFF;
    border-top: 0.5px solid rgba(86, 118, 158, 0.5); /* 상단 구분선 */
    border-bottom: 0.5px solid rgba(86, 118, 158, 0.5); /* 하단 구분선 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}
.dropdown-title-text{
    margin-left: 15px;
    color: #313131;
    font-size: 15px;
}

/* 드롭다운 화살표 */
.dropdown-arrow {
    width: 20px;
    height: 20px;
}

.dropdown-content{
    background-color: #e4ebf7;
    border-radius: 5px;
    margin-left: 20px;
    height: 30px;
    border-top: 0.5px solid rgba(86, 118, 158, 0.5); /* 상단 구분선 */
    border-bottom: 0.5px solid rgba(86, 118, 158, 0.5); /* 하단 구분선 */
    border-left: none; /* 좌측 구분선 제거 */
    border-right: none; /* 우측 구분선 제거 */
    cursor:pointer;
}

/* 드롭다운 타이틀 마우스오버 색상  */
.dropdown-title:hover {
    background-color: #b8a7fb;
  
  }

/* 드롭다운 컨탠트 마우스오버 색상  */
.dropdown-content:hover{
    background-color: #b8a7fb;
}
