.input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-window{
    height: 50px;
    background-color: rgb(223, 223, 223);
}

.input-error-message{
    color: rgb(230, 115, 115);
    font-size: 12px;
}