.date-range-inputs {
    background-color: #F5F5F5 !important;
    color: black;
}

.app-content-container{
    background-color: #F5F5F5 !important;
    color: black;
}

.reset-button{
    background-color: #2b538b !important;
}

.reset-button:hover {
    background-color: #2b538b !important;
    color: #1e3a62;
}

.react-tabs_tab-list {
    display: flex;
    align-content: center !important;
}

