.registration-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    /* border: 1px solid black; */
    margin: 0 auto;
    /* margin-top: 50px; */
    align-items: center;
    padding: 0px;
}
.registration-logo{
    width: 150px;
}
.registration-button{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: #769adc;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.registration-button:hover{
    background-color: #9bb8ee;
}