.registration-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 100px;
    align-items: center;
    padding: 0px;
}
.registration-logo{
    width: 100px;
}