.modal-background{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-container{
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.modal-container-narrow{
    background: white;
    /* padding: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.modal-label{
    width: 100%;
    background-color: #2b538b;
    text-align: center;
    color: #fefefe;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 40px;
  }

  .post-modal-button {
    width: 60px !important;
    height: 100%;
    background-color: #2b538b !important;
    font-size: 13px;
    padding: 4px 8px !important;
  }

  .post-modal-button:hover {
    background-color: #1e3a62 !important;
  }

  .addrow-dropdown {
    padding: 0px 1px !important;
    width: 60px;
  }