.item-search-button{
    cursor: pointer;
}

.body-r {
    /* font-weight: bold !important; */
    font-family: 'Montserrat', sans-serif !important;
    text-align: left !important;
}

.body-d { 
    text-align: left !important;
}