.header-container{
    width: 90%;
    height: 45px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(216, 216, 216);
}
.header-logo{
    height: 100%;
    margin-left: 40px;
    /* margin-right: 60%; */
    cursor: pointer;
}
.header-userinfo-container{
    display: flex;
    width: 200px;
    align-items: center;
}
.header-welcome-text{
    width: 100px;
}
.header-profile-icon{
    cursor: pointer;
    height: 100%;
}
.header-logout-icon{
    cursor: pointer;
    height: 100%;
}
.header-login-button{
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #769adc;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    margin-left: auto;
    margin-right: 5px;
    cursor: pointer;
}
.header-login-button:hover{
    background-color: #8eafee;
}