.date-range-picker-container{
    display: flex;
    
    background-color: #769adc;
    border-radius: 5px;
    align-items: center;
    
}
.date-range-picker-label{
    display: flex;
    width: 20%;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    align-items: center;    
}
.date-range-picker{
    
    
    text-align: center;
    /* margin-right: 15px; */
    outline: none;
    box-sizing: border-box;
    padding-right: 10px;
}