.sidebar{
    width: 195px;
    height: 100vh;
    min-height: 210vh;
    display: flex;
    flex-direction: column;
    background-color: #6aa1e8;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 4px;
    border-radius: 5px;    
}

.sidebar-container{
    height: 100vh;
    background-color: #0f366d !important;
}

.sidebar-search::placeholder{
    /* padding-left: 20px; */
}