.body-d {
  font-size: 13px !important;

}


.cell-input {
  font-size: 12px;
}

.search-sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px;
}

.sort-select-container,
.search-container {
  display: flex;
  align-items: center;
}

.sort-select-container label,
.search-container label {
  margin-right: 8px;
  /* font-weight: bold; */
}

.sort-select-container {}

#sortSelect,
#searchInput {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.sortSelect {}

.search-container {
  flex-grow: 1;
  margin-left: 20px;
}