.body-r {
    font-size: 12px !important;
    font-family: 'Montserrat', sans-serif !important;
}

.cell-input {
    font-size: 12px !important;
}

.body-d {
    font-size: 12px !important;
}










