.body-r {
    font-size: 12px !important;
    font-family: 'Montserrat', sans-serif !important;
}

.cell-input {
    font-size: 12px !important;
}

.body-d {
    font-size: 12px !important;
}

.manufacturer-tool-container {
    display: flex;
    width: 100%;
    justify-content: space-between !important;
}

.custom-select-class {
    padding: 5px 12px;
    width: 15% !important;
    border: 1px solid #848282 !important;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
    background-color: white;
    cursor: pointer;
  }

 

  












