table {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    border-collapse: collapse; /* 테이블 셀 사이에 중복된 경계를 제거 */
    background-color: white;
    box-shadow: 2px 4px 16px 4px #eeeeee;
}

th, td {
    border: 1px solid #eeeeee; /* 테이블 셀에 경계 추가 */
    background-color: white;
    padding: 8px;
    text-align: left;
    color: #1d1d1d;
    /* border-collapse: collapse; */
    border-left: none;
    border-right: none;
    font-size: 13px;
}

thead {
    background-color: #f2f2f2; /* 헤더에 배경색 추가 */
}
