.table-responsive {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    margin: px auto px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    font-size: 12px !important;
    border-top: 1px solid rgba(58, 140, 239, 0.92);
    border-bottom: 1px solid rgba(86, 118, 158, 0.5);
  }
  
  th, td {
    border: 1px solid #bbbbbb;
    padding: 10px;
    text-align: left !important;
    color: #1d1d1d;
  }
  
  .header-h {
    font-size: 13px;
    background-color: #f1f1f1;
    white-space: nowrap !important;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    position: relative;
  }
  
  /* 테이블 헤더의 높이를 고정 */
  table thead tr {
    
  }
  
  .header-h:hover::after {
    content: attr(title);
    position: absolute;
    top: 100%;
    left: 0;
    background: #f9f9f9;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    white-space: normal;
    z-index: 1000;
    max-width: 200px;
  }
  
  .body-d {
    font-size: 12px !important;
  }
  .body-r{
    /* cursor: pointer; */
  }
  #addrow{
    text-align: center !important;
  }
  
  .body-r-edited {
    background-color: #f3ebd0;
    cursor: pointer;
  }
  
  .body-r:hover {
    background-color: #f9f9f9b8;
  }
  
  /* 테이블 input 관련 */
  .cell-input {
    font-size: 14px !important;
    width: 100%;
    padding: 6px 3px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    word-wrap: break-word;
    white-space: nowrap;
    max-width: 210px
  }
  
  th:first-child,
  td:first-child {
    width: 25px !important;
    min-width: 25px;
    text-align: center !important;
  }
  
  input[type="date"].cell-input {
    width: 87%;
    min-width: 100px;
  }
  
  td {
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal;
  }

  /* 필요한 경우 특정 컬럼의 줄바꿈 허용 */
  td:nth-child(3), td:nth-child(4) {
    white-space: normal;
    word-wrap: break-word;
  }

  .qty-input {
    width: 100% !important;
    text-align: left !important;
    /* padding-right: 5px; */
  }

  /* 수량과 제품단가 입력 필드 스타일 */
    input[type="number"].cell-input {
    font-family: 'Montserrat', sans-serif !important;    

    font-size: 12px;
    width: 100% !important;
    /* padding-right: 5px; */
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    background-color: #fff !important;
    box-sizing: border-box !important;
  }

    input[type="text"].cell-input {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 12px !important;
    width: 100% !important;
    /* padding-right: 5px; */
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    background-color: #fff !important;
    box-sizing: border-box !important;
  }
  .add-row-button{
    margin: 0 auto;
  }
  .addrow-dropdown{
    width: 100%;
  }

  .checkbox-column {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
  }
  
  .unused-stock {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 100px;
  }

  .cell-clickable{
    cursor: pointer;
    color: #5a6eb1;
    text-decoration: underline;
  }

  .cell-button {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    white-space: nowrap !important;
    font-size: 12px;
    background-color: #2b538b;
    color: white;
    border: none;
    width: 60px;
    padding: 5px 1.5px;
    padding-left: 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .cell-button:hover {
    background-color: #1e3a62;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  .cell-button:active {
    transform: translateY(1px);
  }
  
