.table-responsive {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    margin: 20px auto 50px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    font-size: 12px !important;
    border-top: 1px solid rgba(58, 140, 239, 0.92);
    border-bottom: 1px solid rgba(86, 118, 158, 0.5);
  }
  
  th, td {
    border: 1px solid #bbbbbb;
    padding: 10px;
    text-align: left;
    color: #1d1d1d;
    word-wrap: break-word;
    white-space: normal;
  }
  
  .header-h {
    font-size: 13px;
    background-color: #f1f1f1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* 테이블 헤더의 높이를 고정 */
  table thead tr {
    height: 40px; /* 원하는 높이로 조정 가능 */
  }
  
  /* 필요한 경우 툴팁으로 전체 텍스트 표시 */
  .header-h {
    position: relative;
  }
  
  .header-h:hover::after {
    content: attr(title);
    position: absolute;
    top: 100%;
    left: 0;
    background: #f9f9f9;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    white-space: normal;
    z-index: 1000;
    max-width: 200px;
  }
  
  .body-d {
    font-size: 12px !important;
  }
  .body-r{
    cursor: pointer;
  }
  
  .body-r-edited {
    background-color: #fceae1;
    cursor: pointer;
  }
  
  .body-r:hover {
    background-color: #f9f9f9b8;
  }
  
  .cell-input {
    font-size: 12px !important;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    word-wrap: break-word;
    white-space: normal;
  }
  
  th:first-child,
  td:first-child {
    width: 25px !important;
    min-width: 25px;
    text-align: center;
  }
  
  input[type="date"].cell-input {
    width: 87%;
    min-width: 100px;
  }
  
  td {
    text-overflow: ellipsis;
  }
  
  /* 특정 컬럼의 너비 조정 */
  /* th:nth-child(2), td:nth-child(2) { width: 100px; }
  th:nth-child(3), td:nth-child(3) { width: 150px; }
  th:nth-child(4), td:nth-child(4) { width: 120px; }
  th:nth-child(5), td:nth-child(5) { width: 130px; }
  th:nth-child(6), td:nth-child(6) { width: 20%; }
  th:nth-child(8), td:nth-child(8) { width: 90px; }
  th:nth-child(9), td:nth-child(9) { width: 90px; }
  th:nth-child(10), td:nth-child(10) { width: 90px !important; }
  /* th:nth-child(11), td:nth-child(11) { width: 90px; } */ */


  
  /* 필요한 경우 특정 컬럼의 줄바꿈 허용 */
  td:nth-child(3), td:nth-child(4) {
    white-space: normal;
    word-wrap: break-word;
  }

  .qty-input {
    width: 100% !important;
    text-align: left !important;
    /* padding-right: 5px; */
  }
  
  th:nth-child(10), 
  td:nth-child(10) {
    width: 55px !important;
    min-width: 55px !important;
    max-width: 60px !important;
    text-align: left !important;
  }

  /* 수량과 제품단가 입력 필드 스타일 */
    input[type="number"].cell-input {
    font-family: 'Montserrat', sans-serif !important;    
    font-weight: bold;
    font-size: 12px;
    width: 100% !important;
    /* padding-right: 5px; */
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    background-color: #fff !important;
    box-sizing: border-box !important;
  }

    input[type="text"].cell-input {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold !important;
    font-size: 12px !important;
    width: 100% !important;
    /* padding-right: 5px; */
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    background-color: #fff !important;
    box-sizing: border-box !important;
  }
  
