.order-registration {
    width: 100%;
}

.order-filters {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.order-filters label {
    font-weight: bold;
}

.product-search-container {
    position: relative; /* 위치 지정 컨텍스트 설정 */
}

.product-search {
    display: flex;
    flex-direction: column; /* 열 방향으로 요소 배치 */
    width: 100%;
    height: 50%;
}
.product-search select {
    width: 100%;
}

.product-search table {
    width: 100%; /* 테이블이 컨테이너 너비를 차지하도록 설정 */
    border-collapse: collapse; /* 셀 경계 중복 제거 */
}

.product-search td {
    padding: 8px; /* 셀 내 패딩 설정 */
    border: 1px solid #ddd; /* 셀 경계 스타일 설정 */
}

.button-container {
    margin-top: 10px; /* 테이블과 버튼 사이 간격 설정 */
    text-align: right; /* 버튼을 오른쪽으로 정렬 */
}

.load-btn {
    background-color: #4688E2; /* 버튼 배경색 설정 */
    color: white; /* 버튼 글자 색상 설정 */
    padding: 8px 16px; /* 버튼 패딩 설정 */
    border: none; /* 버튼의 경계 제거 */
    cursor: pointer; /* 커서를 포인터로 변경 */
}

.order-table {
    margin-top: 20px; /* 주문 테이블과 위의 컴포넌트 사이의 간격 설정 */
}

.order-table table {
    width: 100%; /* 테이블이 부모 컨테이너의 100% 너비를 차지하도록 설정 */
    border-collapse: collapse; /* 셀 경계 중복 제거 */
}

.order-table th, .order-table td {
    padding: 8px; /* 셀 내 패딩 설정 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
    border: 1px solid #ddd; /* 셀 경계 스타일 설정 */
}

.order-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 5%;
}

.order-actions button {
    padding: 10px 20px; /* 버튼 패딩 설정 */
    border: none; /* 버튼의 경계 제거 */
    cursor: pointer; /* 커서를 포인터로 변경 */
    background-color: #4688E2; /* 버튼 배경색 설정 */
    color: white; /* 버튼 글자 색상 설정 */
}

.search-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-search search-icon {
    width: 16px; /* 아이콘 크기 조절 */
    height: 16px;
    border: none;
}


.orderPostInput{
    border: none;
    height: 100%;
    width: 100%;
}

.divSearch{
    display: flex;
    width : 100%;
    height: 100%;
}

.react-datepicker-wrapper{
    width: 100%;
}

.react-datepicker__input-container input{
    width: 90%;
    text-align: center;
    font-size: 18px;
}


.product-search td.title{
    background-color: #769ADC;
    color: white;
    text-align: center;
    width: 120px;
}

.buyerItemDropDown {
    position: relative; /* 또는 absolute */
    z-index: 1000;
}