.app-container {
    display: flex;
    height: 100vh;
}

.main-container {
    display: flex;
    width: 100%;
}

.quotation-container {
    flex: 1; /* 발주서를 남은 공간에 배치 */
    display: flex;
    justify-content: center; /* 발주서를 가로로 중앙에 배치 */
    align-items: center; /* 발주서를 세로로 중앙에 배치 */
}

.quotation-content {
    padding: 20px;
    background-color: white;
    width: 60%; /* 발주서가 화면의 60%를 차지 */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

.quotation-info, .quotation-total {
    margin-bottom: 20px;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.order-table th, .order-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4688E2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
