.app-container {
    display: flex;
    height: 100vh;
}

.main-container {
    display: flex;
    width: 100%;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

.quotation-content {
    padding: 20px;
    background-color: #fff;
    width: 50%; /* 폭을 적절히 줄여서 중앙에 위치 */
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
}

.quotation-info, .quotation-total {
    margin-bottom: 20px;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.order-table th, .order-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4688E2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
